.header__subtitle {
    position: relative;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    justify-content: center;
    max-width: 720px;
    margin: 32px auto;
    padding: 32px 64px 64px 64px;
}